:root {
  --color-background-primary: #2f303a;
  --color-background-secondary: #f5f4fa;
  --color-primary: #2196f3;
  --color-logo-main: #afb1b8;
  --color-title: #212121;
  --color-navbar: #ececec;
  --color-card-border: #eeeeee;
  --color-description: #757575;
  --font-primary: 'Roboto', Arial, Helvetica, sans-serif;
  --font-secondary: 'Raleway', Arial, Helvetica, sans-serif;
  --white: #fff;
  --black: #000;
}

/* Regular background image */
.element {
  background-image: url('./images/index/hero-background.jpg');
}

/* High-density (retina) background image */
@media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  .element {
    background-image: url('./images/index/hero-background@2x.jpg');
  }
}

/* Globals */

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  background-color: #fff;
  font-family: var(--font-primary);
  color: var(--color-description);
  margin: auto;
}

a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.btn {
  background-color: var(--color-background-secondary);
  border: 0px black solid;
  border-radius: 4px;
  height: 2.5rem;
  line-height: 26px;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  padding: 6px 22px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-primary);
  cursor: pointer;
  color: var(--white);
  box-shadow: 0px 2px 2px 0px #0000001f;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001a;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}

.logo p {
  color: var(--black);
  font-family: var(--font-secondary);
  font-size: 1.5rem;
}

.logo p span {
  color: var(--color-primary);
}

.section {
  padding: 94px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  color: var(--color-title);
  font-size: 36px;
  font-weight: 700;
}

ul {
  list-style: none;
  display: flex;
  flex-flow: row;
  gap: 30px;
}

/* HOME PAGE */

/* Header Section */
.header-section {
  position: relative;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.header__menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  width: 44px;
  height: 44px;
  z-index: 1000;
}

.header__menu-icon {
  width: 24px;
  height: 24px;
}

.header-section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header__nav-bar {
  display: flex;
  gap: 90px;
}

.header__links-container {
  display: flex;
  gap: 50px;
  position: relative;
}

.header__link {
  text-decoration: none;
  color: var(--color-title);
  position: relative;
}

.header__link::after {
  content: '';
  height: 6px;
  width: 0;
  border: 0 solid;
  border-radius: 50px;
  background-color: var(--color-primary);
  position: absolute;
  top: 44px;
  left: 0;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.active::after {
  content: '';
  height: 6px;
  width: 100%;
  border: 0 solid;
  border-radius: 50px;
  background-color: var(--color-primary);
  position: absolute;
  top: 44px;
  left: 0;
}

.header__link:hover::after,
.header__link:focus::after {
  width: 100%;
}

.header__link:hover,
.header__link:focus {
  color: var(--color-primary);
}

.header__contact {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header__contact-icon {
  height: 16px;
  max-width: 16px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.contact__link {
  color: var(--color-description);
  fill: var(--color-description);
  stroke: var(--color-description);
}

.header__contact-container {
  display: flex;
  gap: 10px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.contact__link .header__contact-container:hover,
.contact__link:focus .header__contact-container {
  color: var(--color-primary);
  fill: var(--color-primary);
}

/* Mobile Menu */
.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.mobile-menu.is-open {
  display: flex;
}

.mobile-menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive Styles for 428px */
@media (max-width: 428px) {
  .header__menu-toggle {
    display: block;
  }

  .header__nav-bar {
    display: none;
  }

  .header-section__container {
    justify-content: space-between;
  }

  .header__links-container {
    display: none;
  }

  .mobile-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .mobile-menu.is-open {
    display: flex;
  }

  .mobile-menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__contact {
    display: none;
  }
}


/* Responsive Styles */

/* Styles for screens up to 428px */
@media (max-width: 428px) {
  .header__nav-bar {
    gap: 20px;
  }

  .header__links-container {
    gap: 20px;
  }

  .header__contact {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .header__menu-toggle {
    display: block;
    position: absolute;
    right: -50px;
    top: 10px;
  }

  .desktop-menu {
    display: block;
  }
}

/* Responsive Styles for 768px */
@media (max-width: 768px) {
  .header__menu-toggle {
    display: block;
  }

  .header__nav-bar {
    display: block;
  }

  .header-section__container {
    justify-content: space-between;
  }

  .header__links-container {
    display: none;
  }

  .mobile-menu {
    display: block;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .mobile-menu.is-open {
    display: flex;
  }

  .mobile-menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__contact {
    display: block;
  }
}

/* Responsive Styles for 1158px */
@media (max-width: 1158px) {
  .header__menu-toggle {
    display: block;
  }

  .header__nav-bar {
    display: block;
  }

  .header-section__container {
    justify-content: space-between;
  }

  .header__links-container {
    display: none;
  }

  .mobile-menu {
    display: block;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .mobile-menu.is-open {
    display: flex;
  }

  .mobile-menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__contact {
    display: block;
  }
}

/* Mobile menu links styling */
.mobile-menu a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.mobile-menu a:hover {
  background-color: #ddd;
  color: black;
}

.mobile-menu a.active {
  background-color: #2196f3;
  color: white;
}

/* Main */
/* Hero section */
.hero-section {
  width: 100vw;
  background-color: var(--color-background-secondary);
  background-image: linear-gradient(0deg,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url('../images/index/hero-background.jpg');
  max-width: 100%;
  padding: 200px 20px;
  background-repeat: no-repeat;
}

.hero-section__container {
  flex-flow: column;
  gap: 30px;
}

.hero-section__title {
  width: 100%;
  font-size: 2.8rem;
  font-weight: 900;
  color: var(--white);
  text-align: center;
}

.hero-section__button {
  background-color: var(--color-primary);
  color: var(--white);
  height: 50px;
  width: 200px;
}

/* Attribute section */

/* Set container width to full width */
.atribute-list__container {
  width: 100%;
}

/* Icon size */
.atribute-list__icon {
  height: 70px;
  width: 70px;
}

/* Icon background */
.atribute-list__icon-background {
  background-color: var(--color-background-secondary);
  width: 100%;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* Title styling */
.atribute-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin: 10px 0;
}

/* Content styling */
.atribute-list__content {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

/* Title margin */
.atribute-section__title {
  margin-top: 94px;
}

/* Image list layout */
.atribute-section__image-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* Image container */
.atribute-section__image-container {
  position: relative;
  height: 294px;
}

/* Overlay text */
.atribute-section__image-overlay p {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: var(--white);
}

/* Overlay styling */
.atribute-section__image-overlay {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries for Responsive Layout */

/* Styles for screens with a minimum width of 429px */
@media (min-width: 429px) {
  .hero-section {
    padding: 200px 40px;
  }
}

/* Styles for screens with a minimum width of 769px */
@media (min-width: 769px) {
  .hero-section {
    padding: 200px 100px;
  }
}

/* Styles for screens with a minimum width of 1159px */
@media (min-width: 1159px) {
  .hero-section {
    padding: 200px 450px;
  }
}

/* Team Section */
.team-section {
  background-color: var(--color-background-secondary);
}

.team-card {
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px #00000033,
    0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  border: 10 solid black;
  border-radius: 0px 0px 4px 4px;
}

.team-card__name {
  color: var(--color-title);
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
}

.team-card__function {
  margin-top: 10px;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-card__icons {
  margin-top: 16px;
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.team-card__icon {
  fill: var(--color-logo-main);
  stroke: var(--color-logo-main);
  width: 20px;
  height: 20px;
}

.team-card__icon-background {
  background-color: var(--white);
  height: 44px;
  width: 44px;
  border: 0 solid white;
  border-radius: 50%;
}

.team-card__icon,
.team-card__icon-background {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.team-card__icon-link:focus .team-card__icon-background {
  background-color: var(--color-primary);
}

.team-card__icon-background:hover {
  background: var(--color-primary);
}

.team-card__icon-link:hover .team-card__icon,
.team-card__icon-link:focus .team-card__icon {
  fill: var(--white);
  stroke: var(--white);
}

/* Client Section */
.client-list {
  gap: 30px;
}

.client-list__logo {
  fill: var(--color-logo-main);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.client-list__logo:hover,
a:focus .client-list__logo {
  fill: var(--color-primary);
}

.client-list__background {
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-logo-main);
  border-radius: 4px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.client-list__background:hover,
a:focus .client-list__background {
  border: 1px solid var(--color-primary);
}

/* Styles for different screen sizes */
/* Default styles for mobile devices */
@media (max-width: 428px) {
  .client-list__background {
    width: 100%;
    height: auto;
  }
}

/* Styles for screens between 429px and 768px */
@media (min-width: 429px) and (max-width: 768px) {
  .client-list__background {
    width: 120px;
    height: 72px;
  }
}

/* Styles for screens between 769px and 1158px */
@media (min-width: 769px) and (max-width: 1158px) {
  .client-list__background {
    width: 140px;
    height: 82px;
  }
}

/* Styles for screens larger than 1158px */
@media (min-width: 1159px) {
  .client-list__background {
    width: 170px;
    height: 92px;
  }
}


/* Footer */
.footer-section {
  background-color: var(--color-background-primary);
  padding: 60px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.footer-logo p {
  color: var(--white);
  margin-bottom: 30px;
}

.address-container {
  font-style: normal;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.address-container p {
  color: var(--white);
}

.address-container a {
  color: var(--color-description);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.address-container a:hover,
.address-container a:focus {
  color: var(--color-primary);
}

.footer__title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white);
  text-transform: uppercase;
}

.footer__icons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.footer__icon {
  fill: var(--white);
  stroke: var(--white);
  width: 24px;
  height: 24px;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer__icon-background {
  background-color: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.footer__icon-link:focus .footer__icon-background {
  background-color: var(--color-primary);
}

.footer__icon-background:hover {
  background: var(--color-primary);
}

.footer__icon-link:hover .footer__icon,
.footer__icon-link:focus .footer__icon {
  fill: var(--white);
  stroke: var(--white);
}

/* Subscribe Section Styles */
.subscribe_section {
  background-color: var(--color-background-primary);
  padding: 40px;
  text-align: center;
  color: var(--white);
  flex-grow: 1;
  padding-top: 0%;
}

.subscribe_section h4 {
  margin-bottom: 20px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-form_input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--color-card-border);
  border-radius: 5px;
  font-family: var(--font-primary);
  font-size: 16px;
  background-color: #2f303a;
  color: white;
}

.subscribe-form__btn {
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.subscribe-form__btn:hover,
.subscribe-form__btn:focus {
  background-color: darken(var(--color-primary), 10%);
}

.subscribe-form__svg {
  margin-top: 10px;
  fill: var(--color-primary);
  transition: fill 0.3s ease;
}

.subscribe-form__btn:hover+.subscribe-form__svg,
.subscribe-form__btn:focus+.subscribe-form__svg {
  fill: darken(var(--color-primary), 10%);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .footer-section {
    padding: 40px;
  }

  .footer-container {
    flex-direction: column;
    gap: 20px;
  }

  .footer__icons {
    justify-content: flex-start;
  }

  .subscribe_section {
    align-self: flex-end;
    width: 100%;
  }

  .subscribe-form_input {
    width: calc(100% - 100px);
    margin-right: 10px;
  }

  .subscribe-form__btn {
    width: 100px;
  }
}

/* PORTOFOLIO PAGE */

.portofolio-card-list {
  margin-top: 50px;
  flex-wrap: wrap;
}

.portofolio-card {
  width: 370px;
  height: 404px;
  border: 1px var(--color-card-border) solid;
  position: relative;
}

.portofolio-card__image-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  padding: 24px;
  top: 0;
  left: 0;
  background-image: linear-gradient(0deg,
      rgba(33, 150, 243, 0.9),
      rgba(33, 150, 243, 0.9));
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 250ms;
}

.overlay p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--white);
}

.portofolio-card:hover,
.portofolio-card:focus {
  cursor: pointer;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portofolio-card:hover .overlay,
.portofolio-card:focus .overlay {
  transform: translateY(0);
}

.portofolio-card__description {
  padding: 20px;
  position: relative;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-align: left;
  color: var(--color-title);
}

.card__description {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--color-description);
}

/* Modal */
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg,
      rgba(47, 48, 58, 0.6),
      rgba(47, 48, 58, 0.6));
}

.modal {
  background-color: var(--white);
  height: 580px;
  width: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition-duration: 150ms;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal__close-btn {
  height: 30px;
  width: 30px;
  background: var(--white);
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal__close-btn:hover .modal__close-icon line {
  stroke: #2196f3;
}

.modal__close-icon {
  width: 18px;
  height: 18px;
}

.modal__form {
  padding: 20px;
}

.modal__form h2 {
  margin-bottom: 30px;
  font-size: 22px;
  margin-top: 20px;
  color: #000;
}

.modal__form label {
  display: block;
  margin-bottom: 15px;
}

.modal__form label span {
  display: block;
  margin-bottom: 5px;
}

.modal__form .input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.modal__form .input-container i {
  position: absolute;
  left: 10px;
  color: #000;
}

.modal__form input,
.modal__form textarea {
  width: 100%;
  padding: 10px 10px 10px 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.modal__form button {
  background: #007bff;
  color: white;
  border: none;
  padding: 20px 90px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.modal__form button:hover {
  background: #0056b3;
}

.centered-textarea {
  width: 100%;
  padding-left: 30px;
  box-sizing: border-box;
}

.input-container {
  position: relative;
}

.input-container input {
  padding-left: 30px;
}

.input-container .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  fill: black;
  width: 20px;
  height: 20px;
}

.input {
  padding-left: 25px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  fill: black;
  width: 20px;
  height: 20px;
}

.checkbox-label__modal__form {
  display: flex !important;
  margin: 0;
  padding: 20px;
  justify-content: center;
}

.checkbox-button__modal__form {
  width: auto !important;
  margin-right: 15px;
}

.checkbox-span__modal__form {
  margin: 0 !important;
  padding: 0 !important;
}

.checkbox-span__modal__form a {
  color: black;
}

.checkbox-span__modal__form a:hover {
  color: #0056b3;
  border-bottom: 1px solid #0056b3;
}